{% extends 'base.html' %}


{% block content %}
<link rel="stylesheet" href="/static/css/about.css">


<h3 class="texto mt-3"><i class="fa fa-terminal" aria-hidden="true"></i>
    &nbsp;Whoami</h3> 

<section class="sobre">
    <div>
        <figure>
            <img class="rounded-circle img-fluid" src="/static/img/eu.jpg" alt="">
        </figure>
    </div>
    <h4 class="texto">&nbsp;&nbsp;Fabrício Luis Covalesci</h4>
</section>

<section >
    <p class="descricao">Sou estudante de Análise e Desenvolvimento de Sistemas, pelo <a href="https://ifrs.edu.br/sertao/">Instituto Federal de Educação, 
        Ciência e Tecnologia do Rio Grande do Sul - Campus Sertão</a>, entusiasta por novas tecnologias, 
    principalmente sobre Ciência de Dados.</p>
</section>



{% endblock %}

