{% extends 'blog.html' %}

{% block content_principal %}
<section class="contato-fundo">
   
    <h3 class="mt-3"><i class="fa fa-terminal" aria-hidden="true"></i>
        &nbsp;Contato</h3> 
        
        <section class="conjunto-dados mt-5">
            <a href="https://fabriciocovalesci.github.io/"   target="_blank" rel="noopener noreferrer"><img
                    src="/static/img/internet.png" alt=""  srcset="">
                
            </a>
            <h5 class="dados">Site pessoal</h5>
            <a href="https://github.com/fabriciocovalesci" target="_blank" rel="noopener noreferrer"><img
                    src="/static/img/github.png" alt="link para site pessoal" srcset="">
               
            </a>
            <h5 class="dados">GitHub</h5>
            <a href="https://twitter.com/FCovalesci" target="_blank" rel="noopener noreferrer"><img
                    src="/static/img/twitter.png" alt="link para perfil do twitter" srcset="">
                
            </a>
            <h5 class="">Twitter</h5>
            <a href="https://www.linkedin.com/in/fabricio-covalesci-22687b150/" target="_blank" rel="noopener noreferrer"><img
                    src="/static/img/linkedin.png" alt="link para perfil do linkedin" srcset="">
               
            </a><h5 class="">Linkedin</h5>
            
        </section>
    ​
</section>
{% endblock %}