{% extends 'base.html' %}


{% block content %}

<section class="container-fluid">
    <h4 class="texto mt-5"><i class="fa fa-microchip" aria-hidden="true"></i>&nbsp;Can the machines thinks ?? </h4>
</section>
<section class="description">
    <p class="texto-home">Alan Turing disse que se uma máquina ou computador pode imitar o comportamento ou as respostas 
        de um ser humano, levando assim, outro humano a não saber se ele está conversando com uma máquina ou humano, isso quer 
        dizer que as máquinas podem pensar.</p>

</section>



{% endblock %}

