{% extends 'base.html' %}


{% block content %}

<section class="container-fluid">
    <h4 class="texto mt-5"><i class="fa fa-microchip" aria-hidden="true"></i>&nbsp;Can the machines thinks ?? </h4>
</section>
<section class="description">
    <p class="texto-home">Segundo Alan Turing, se uma máquina ou computador conseguir imitar o comportamento ou as respostas 
        de um ser humano, levando assim, a confundi-lo,  se ele está conversando com uma máquina ou humano, isso quer 
        dizer que as máquinas podem pensar.</p>

        <figure class="img-test">
            <img src="/static/img/test_turing.png" alt="teste de turing" srcset="">
        </figure>

</section>



{% endblock %}

